<%# frozen_string_literal: true %>
<%
# Pour choisir l'évaluateur
%>
<script type="text/javascript">
const EVALUATOR_ID = <%= user.id %>;
</script>
<%=
  # Il faut passer par là notamment pour produire le fichier NOMBRE_QUESTIONS
  # qui contient le nombre de questions actuelles, utiles pour estimer
  # le pourcentage de travail
  checklist
%>
<%= sorting_tools(param(:ks), param(:ss)) %>
<div id="synopsis-container" class="nolimit">
  <% fiches_synopsis = Synopsis.sorted_by(param(:ks),param(:ss), {avec_fichier_conforme: true}) %>
  <% if fiches_synopsis.count > 0 %>
    <% fiches_synopsis.each do |synopsis| %>
      <%= synopsis.out(user.id) %>
    <% end %>
  <% else %>
    <p>Il n'y a pas encore d’inscrit au concours <%= Concours.current.annee %>.</p>
  <% end %>
</div>
