<p class="explication">Cette section permet de suivre le travail de vérification des pages (orthographe, aspect sur tous les appareils).</p>
<p>Pour ajouter une page, la rejoindre et cliquer sur le bouton <%= Emoji.get('machine/inspector').page_title %> pour l’inspecter</p>
<%
=begin
  Ici, on présente une liste des pages avec des colonnes présentant :

  - correction par Marion achevée
  - correction par Phil achevée
  - visibilité sur ordinateur mac OK
  - visibilité sur ordinateur PC OK
  - visibilité sur tablette OK
  - visibiliité sur Androïdes OK
  - visibilité sur iPhones OK

  case pour marquer achevée (on n'affiche plus)
  case pour retirer de la liste

=end
%>
<form action="<%= route.to_s %>" method="POST">
<input type="hidden" name="op" value="save-inspection">
<input type="hidden" name="route" value="<%= route.to_s %>">
</form>
<div id="inspector-list" class="nolimit">
  <div id="inspector-list-header">
    <%= VPage.listing_header %>
  </div>
  <div id="inspector-list-listing">
    <%= VPage.listing %>
  </div>
  <div id="inspector-list-buttons" class="buttons">
    <input type="submit" name="" value="Enregistrer">
  </div>
</div>
