<%
# frozen_string_literal: true
=begin
  Mail qui confirme au concurrent que son fichier a bien été enregistré
=end
subject("[CONCOURS] Réception de votre fichier de candidature")
%>
<p>Ch<%= concurrent.fem(:ere) %> <%= concurrent.pseudo %>,</p>
<p>Je vous informe que votre fichier de candidature pour le concours de synopsis <%= Concours.current.annee %> de l'<%= ATELIER_LINK.with(distant:true) %>, intitulé <%= candidature_filename %> a bien été reçu.</p>
<p style="font-size:0.85em;">Comme le stipule le règlement du concours, si ce fichier présente des erreurs et que vous l'avez envoyé au moins une semaine avant l'échéance, il pourra vous être renvoyé en vous demandant de le corriger. Dans le cas contraire, il ne pourra malheureusement pas être pris en compte.</p>
<p>À très bientôt pour les résultats de la présélection !</p>
<p>En vous souhaitant bonne chance,</p>
<%= le_bot %>
