<%
# frozen_string_literal: true
subject("[CONCOURS] Votre fichier n'est pas conforme ")
%>
<p>Bonjour <%= concurrent.pseudo.patronimize %>,</p>
<p>Merci à vous pour votre fichier de candidature destiné au <%= CONCOURS_LINK.with(full:true, distant:true) %>.</p>
<p>Ce fichier n'est malheureusement pas conforme aux articles 17 et 19 du <%= REGLEMENT_LINK.with(distant:true, text: "règlement du concours") %>, pour les raisons suivantes :</p>
<ul>
<%= motifs %>
</ul>
<p style="font-size:0.85em">Noter que ces exigences ne sont pas là pour vous “brimer” mais visent 1) à donner à votre projet toutes les chances d'être bien lu et 2) à le traiter en accord avec la législation.</p>
<p>Rassurez-vous ! Conformément à l'article 20 du règlement du concours, vous avez la possibilité de corriger ce<%= s_problemes %> problème<%= s_problemes %> et de soumettre à nouveau votre document depuis votre <%= ESPACE_LINK.with(distant:true) %>, comme vous l'avez fait pour ce fichier non conforme.</p>
<p>Vous trouverez d'ailleurs sur cet espace personnel des modèles téléchargeables qui vous permettront de produire un fichier en tous points conforme. N'hésitez pas à les utiliser, ils sont là pour vous aider !</p>
<p>Dans l'attente de votre nouveau document, nous restons bien entendu à votre disposition pour toute question ou tout renseignement utile.</p>
<p>Bien à vous, bon courage,</p>
<p>L'Administration du concours</p>
