
<div id="goto-notifications" class="goto">
   <%= (EMO_PORTE_VOIX+ISPACE+Tag.link(route:'admin/notifications'.freeze, text:('Notifications%{non_vus}' % {non_vus: pastille_notifications_non_vues}).freeze)).freeze %>
</div>

<%= divGoto((Emoji.get('machine/validator').regular+ISPACE+Tag.lien(route:'admin/validator_pages'.freeze,text:'Inspecteur'.freeze)).freeze) %>

<%= divGoto((EMO_OUTILS+ISPACE+'<a href="admin/tools">OUTILS</a>').freeze) %>

<%= divGoto((EMO_ECRAN+ISPACE+ISPACE+'<a href="admin/console">Console</a>').freeze) %>

<%= divGoto((EMO_ARMOIRE+ISPACE+'<a href="admin/database">Base de données</a>').freeze) %>

<%= divGoto((EMO_ESPIONNE+ISPACE+'<a href="admin/espion">Traceur site</a>').freeze) %>

<%= divGoto((EMO_RAPPORT+ISPACE+'<a href="admin/overview">Aperçu</a>').freeze) %>

<%= divGoto((EMO_TOOLBOX+ISPACE+'<a href="admin/modules">Modules</a>').freeze) %>

<%= divGoto((EMO_ROUE_DENTEE+ISPACE+'<a href="bureau/preferences">Préférences</a>').freeze) %>

<%= divGoto((Emoji.get('humain/etudiant').reg+ISPACE+'<a href="user/profil">Profil</a>').freeze) %>

<div id="goto-frigo" class="goto">
  <%= MainLink[:frigo].with(pastille:pastille_messages_frigo_non_vus, picto:true ) %>
</div>
