<%# frozen_string_literal: true %>
<p class="explication">Retrouvez sur cette page les liens vers les outils d’écriture utiles proposés par l’atelier Icare.</p>


<%= divGoto(Emoji.get('objets/pile-livres').regular+' Quai de docs', route:'qdd/home') %>
<%= divGoto('Scénariopole', route:"http://www.scenariopole.fr") %>
<%= divGoto('Collection Narration', route:"http://www.scenariopole.fr/narration") %>
<%= divGoto('Tutoriels Scrivener', route:'https://www.youtube.com/channel/UCWuW11zTGdNfoChranzBMxQ/videos') %>
<%= divGoto('Turoriels Écriture', route:'https://www.youtube.com/channel/UCQ2ahfTlSfkRyDf9y_D_YVw/videos') %>
<%= divGoto('Grand Livre des Lois de la Narration', route:'http://www.scenariopole.fr/download/LOIS_NARRATION_PhilPERRET.pdf') %>
