<%
# frozen_string_literal: true
%>
<div class="right">
  <%= Tag.link(text:"Se déconnecter", route:"#{route}?op=logout") %>
</div>
<p><strong><%= concurrent.pseudo.titleize %></strong>, bienvenue dans votre espace du <strong>Concours de Synopsis de l’atelier Icare</strong>. Retrouvez dans cette partie les informations sur vos participations ainsi que des informations sur le concours actuel.<%=
  if concurrent.current?
    if concurrent.dossier_transmis?
      ""
    else
      " C'est ici que vous pouvez transmettre votre fichier de candidature."
    end
  else
    " Veuillez noter que <strong>vous n'êtes pas encore inscrit à la session #{Concours.current.annee} du concours</strong>."
  end
%></p>

<% if not(concurrent.current?) %>
  <div class="right mt2 mb2">
    <%= CONCOURS_SIGNUP.with("☞#{ISPACE}S’inscrire à la session #{Concours.current.annee} du concours.") %>
  </div>
<% end %>

<%
# ---------------------------------------------------------------------
#
# Informations sur le concours
# ----------------------------
# Ici une partie générale indiquant les informations sur le concours,
# avec notamment le nombre de concurrents actuels.
#
# ---------------------------------------------------------------------
%>
<fieldset id="concours-informations">
  <legend>Informations sur le concours en cours</legend>
  <% if Concours.current.started? %>
    <div class="row">
      <span class="libelle">Année</span>
      <span class="value bold"><%= concours.annee %></span>
    </div>
    <div class="row">
      <span class="libelle">Thème</span>
      <span class="value bold"><%= concours.theme.upcase %></span>
    </div>
    <div class="row">
      <span class="libelle">Échéance</span>
      <span class="value bold"><%= concours.h_echeance %></span>
    </div>
    <div class="row right mt2">
      <span class="italic">Nombre de concurrents inscrits : </span>
      <span id="nombre-concurrents">
        <% if concours.nombre_concurrents == 0 %>
          Vous serez le premier inscrit au concours !
        <% else %>
          <%= concours.nombre_concurrents.to_s.rjust(3, "0") %>
        <% end %>
      </span>
    </div>
  <%
    else # si le concours n'est pas en cours
  %>
    <div>
      Le prochain concours de synopsis n'est pas encore lancé.
    </div>
  <% end %>
</fieldset>

<%
# ---------------------------------------------------------------------
#
# Le concurrent a toujours la possibilité de changer sa préférence
# concernant la fiche de lecture
#
# ---------------------------------------------------------------------
%>
<fieldset id="concours-preferences">
  <legend>Vos préférences</legend>
  <div class="row">
    <% if concurrent.fiche_lecture? %>
      <div>Vous recevrez la fiche de lecture sur votre projet.</div>
      <div class="small right"><a href="<%= route.to_s %>?op=nonfl">Je ne veux plus recevoir cette fiche de lecture</a>.</div>
    <% else %>
      <div>Vous ne recevrez pas la fiche de lecture.</div>
      <div class="small right"><a href="<%= route.to_s %>?op=ouifl">Finalement, je veux bien recevoir cette fiche de lecture</a>.</div>
    <% end %>
  </div>

  <div class="row">
    <% if concurrent.warned?  %>
      <div>Vous recevez des informations sur le concours (échéances, inscrits, etc.).</div>
      <div class="small right"><a href="<%= route.to_s %>?op=nonwarn">Je ne veux plus recevoir ces informations</a>.</div>
    <% else %>
    <div>Vous ne recevez pas les informations sur le concours.</div>
    <div class="small right"><a href="<%= route.to_s %>?op=ouiwarn">Finalement, je voudrais bien recevoir ces informations (échéances, inscrits, etc.)</a>.</div>
    <% end %>
  </div>
</fieldset>

<%
# ---------------------------------------------------------------------
#
# FORMULAIRE DE DÉPÔT DU FICHIER DE CANDIDATURE (if any)
#
# ---------------------------------------------------------------------
%>
<fieldset id="concours-envoi-dossier">
  <legend>Fichier de candidature</legend>
  <%= section_fichier_candidature %>
</fieldset>

<%
# ---------------------------------------------------------------------
#
# Informations sur le concurrent et ses participations
#
# ---------------------------------------------------------------------
%>
<h3>Vos participations aux concours de l’atelier Icare</h3>
<section id="concours-historique">
  <% if concurrent.all_concours.count == 1 %>
    <p>C'est votre première participation à ce concours. Bonne chance à vous !</p>
  <% else %>
    <div class="italic">Nombre de participations : <%= concurrent.all_concours.count %></div>
    <ul>
      <% concurrent.all_concours.each do |dcon| %>
        <li><%= "Session #{dcon[:annee]} (thème “#{dcon[:theme]}” — #{dcon[:prix]})" %></li>
      <% end %>
    </ul>
  <% end %>
</section>

<%
# ---------------------------------------------------------------------
#
#   Pour détruire son profil
#
# ---------------------------------------------------------------------
formdestroy = Form.new(id:"destroy-form", route:route.to_s, class:"nopadding nomargin noborder nolibelle nobackground")
formdestroy.rows = {
  '<operation/>' => {type:"hidden", name:"op", value:"destroy"},
  'Numéro d’inscription' => {type:"text", name:"c_numero", explication:"Numéro de participation qui vous a été fourni et envoyé par mail lors de votre inscription.", placeholder:"Numéro d'inscription (14 chiffres)"}
}
formdestroy.submit_button = UI_TEXTS[:concours_button_destroy]
formdestroy.submit_button_class = "btn warning discret"
%>
<h3>Détruire mes informations</h3>
<section id="concours-destruction">
  <p>Vous pouvez à tout moment détruire votre inscription — ainsi que toutes les données et tous les fichiers qui y sont associés en renseignant le champ ci-desous et en cliquant sur le bouton de destruction.</p>
  <p>Bien noter que l'opération est irréversible. Une fois vos informations et vos fichiers détruits, il sera impossible de les récupérer.</p>
  <p>Cette destruction s'applique à toutes les sessions auxquelles vous avez pu participer, c'est-à-dire <%= concurrent.all_concours.count == 1 ? "la session" : "les sessions" %>&nbsp;: <%= concurrent.all_concours.collect{|dc|dc[:annee]}.pretty_join %>.</p>
  <%= formdestroy.out %>
</section>
