<%
# frozen_string_literal: true
%>
<div class="right">
  <%= Tag.link(text:"Se déconnecter", route:"#{route}?op=logout") %>
</div>


<%
# ---------------------------------------------------------------------
#
#   ENCART PROBLÈME AVEC CONCURRENTS
#
# ---------------------------------------------------------------------

if concurrent && concurrent.mail == "gaetan.deves@hotmail.fr"
%>
<div class="border big air mb3 mt3" style="background-color:red;color:white;">
Bonjour Gaetan. Nous ne parvenons pas à vous envoyer de mails… Soit votre boite
est pleine, soit vous avez un autre problème. Merci de le résoudre. Dans le cas
contraire, nous ne pourrions pas vous attribuer de prix le cas échéant…
<div class="small mt2">Nous vous signalons d'autre part que votre fichier de candidature n'est
  pas conforme et qu'il convient de le corriger pour participer. Merci de
  <a href="mailto:concours@atelier-icare.net" style="color:inherit;">prendre contact avec
  l'administration</a> pour avoir les détails ou de consulter le règlement.</div>
</div>
<%
end # si c'est gaetan deves
%>
<%
# ---------------------------------------------------------------------
#
#   DÉBUT NORMAL DE LA PAGE
#
# ---------------------------------------------------------------------
#PAS ICI
%>
<p>
  <strong><%= concurrent.pseudo.patronimize %></strong>, bienvenue dans votre espace du <strong>Concours de Synopsis de l’atelier Icare</strong>. <%

  if Concours.current.started?

    %><span>Retrouvez dans cette partie les informations sur vos participations ainsi que des informations sur le concours actuel.</span><%

  else

    %><span>En attendant le démarrage du prochain concours, retrouvez dans cette partie les informations sur vos participations précédentes.</span><%

  end %><%=

  if concurrent.current?
    if concurrent.cfile.transmis? || not(concours.phase2?)
      ""
    else
      " C'est ici que vous pouvez transmettre votre fichier de candidature."
    end
  else
    " Veuillez noter que <strong>vous n'êtes pas encore inscrit à la session #{Concours.current.annee} du concours</strong>."
  end

#PAS ICI
%></p>

<%

if not(concurrent.current?) && Concours.current.phase < 2 %>

  <div class="right mt2 mb2">

    <%= CONCOURS_SIGNUP.with("☞#{ISPACE}S’inscrire à la session #{Concours.current.annee} du concours.") %>

  </div><%

end

# ---------------------------------------------------------------------
#
# Informations sur le concours
# ----------------------------
# Ici une partie générale indiquant les informations sur le concours,
# avec notamment le nombre de concurrents actuels.
#
# ---------------------------------------------------------------------

if Concours.current.started? %>
  <fieldset id="concours-informations">
    <legend>Informations sur le concours en cours</legend>
      <div class="row">
        <span class="libelle">Année</span>
        <span class="value bold annee-concours"><%= concours.annee %></span>
      </div>
      <div class="row">
        <span class="libelle">Thème</span>
        <span class="value bold caps theme-concours"><%= concours.theme %></span>
      </div>
      <div class="row">
        <% if concours.phase1? %>
          <span class="libelle">Échéance</span>
          <span class="value bold echeance-concours"><%= concours.h_echeance %></span>
        <% else %>
          <span class="libelle">Phase</span>
          <span class="concours-phase value bold"><%=
            case concours.phase
            when 2 then "Présélections"
            when 3 then "Sélection finale"
            else "Concours achevé"
            end
            %></span>
        <% end %>
      </div>
      <div class="row right mt2">
        <% if concours.phase1? %>
          <span class="italic">Nombre de concurrents inscrits : </span>
          <span id="nombre-concurrents">
            <% if concours.nombre_concurrents == 0 %>
              Vous serez le premier inscrit au concours !
            <% else %>
              <%= concours.nombre_concurrents.to_s.rjust(3, "0") %>
            <% end %>
          </span>
        <% elsif concours.phase2?%>
          <span class="italic">Nombre de synopsis en lice : <span id="nombre-concurrents"><%= concours.nombre_synopsis_conformes %></span></span>
        <% elsif concours.phase3? %>
          <span class="italic">Les 10 synopsis présélectionnés sont en phase finale.</span>
          <div class="center"><%= PALMARES_LINK.with(text: '☞ Voir le palmarès actuel ☜') %></div>
        <% end %>
      </div>
    </fieldset><%
else # si le concours n'est pas en cours %>
  <div>
    Le prochain concours de synopsis n'est pas encore lancé.
  </div><%
end

# ---------------------------------------------------------------------
#
# Le concurrent a toujours la possibilité de changer sa préférence
# concernant la fiche de lecture
#
# ---------------------------------------------------------------------
%>
<fieldset id="concours-preferences">
  <legend>Vos préférences</legend>
  <div class="row">
    <% if concurrent.fiche_lecture? %>
      <div>Vous recevrez la fiche de lecture sur votre projet.</div>
      <div class="small right"><a href="<%= route.to_s %>?op=nonfl">Je ne veux plus recevoir cette fiche de lecture</a>.</div>
    <% else %>
      <div>Vous ne recevrez pas la fiche de lecture.</div>
      <div class="small right"><a href="<%= route.to_s %>?op=ouifl">Finalement, je veux bien recevoir cette fiche de lecture</a>.</div>
    <% end %>
  </div>

  <div class="row">
    <% if concurrent.warned?  %>
      <div>Vous recevez des informations sur le concours (échéances, inscrits, etc.).</div>
      <div class="small right"><a href="<%= route.to_s %>?op=nonwarn">Je ne veux plus recevoir ces informations</a>.</div>
    <% else %>
    <div>Vous ne recevez pas les informations sur le concours.</div>
    <div class="small right"><a href="<%= route.to_s %>?op=ouiwarn">Finalement, je voudrais bien recevoir ces informations (échéances, inscrits, etc.)</a>.</div>
    <% end %>
  </div>
</fieldset>

<%
# ---------------------------------------------------------------------
#
#   CHARGEMENT DE LA FICHE DE LECTURE
#
# ---------------------------------------------------------------------
%>
<% if concurrent.synopsis.fiche_lecture.downloadable? %>
  <div id="chargement-fiche-lecture" class="border center mt2 big air">
    <%= Tag.link(text:UI_TEXTS[:concours][:buttons][:download_fiche_lecture], route:concurrent.synopsis.fiche_lecture.download_link) %>
  </div>
<% end %>

<%
# ---------------------------------------------------------------------
#
# FORMULAIRE DE DÉPÔT DU FICHIER DE CANDIDATURE (if any)
# OU    Annonce en lice ou pas suivant dépôt de fichier et conformité
# OU    Téléchargement de la fiche de lecture
#
# ---------------------------------------------------------------------

%>
<fieldset id="concours-fichier-candidature">
  <legend>Fichier de candidature</legend><%

    if not concurrent.current?

      %><p class="explication">Vous n'êtes pas en lice pour cette session du concours. Vous n’avez pas de dossier à déposer.</p><%

    elsif not Concours.current.started?

      %><p class='explication'>Vous pourrez transmettre votre dossier lorsque le concours sera lancé.</p><%

    elsif concours.phase1?

      %><%= section_fichier_candidature %><%

    elsif concours.phase2?

      %><p><%

        if concurrent.current? && concurrent.cfile.conforme?

          %><span>Votre synopsis est conforme, il est en lice</span><%

        else

          %><span>Vous n'êtes pas en lice</span><%

        end

        %><span> pour la session <%= ANNEE_CONCOURS_COURANTE %></span>.

      </p><%

  elsif concours.phase3?

    %><p><%

      if not(concurrent.cfile.conforme?)

        %>Sans fichier envoyé ou conforme, vous ne pouvez pas être en lice<%

      elsif concurrent.preselected?

        %>Votre synopsis est en lice<%

      else

         %>Votre projet n'a pas été sélectionné. Vous n'êtes pas en lice<%

      end
      %><span> pour la sélection finale de la session <%=ANNEE_CONCOURS_COURANTE%> du concours.</span>

    </p><%

  end
%>
</fieldset>
<%

# ---------------------------------------------------------------------
#
# Informations sur le concurrent et ses participations précédentes
# Contient aussi un lien vers ses fiches (if any)
#
# ---------------------------------------------------------------------
%>

<h3>Vos participations aux concours de l’atelier Icare</h3>

<section id="concours-historique"><%

  if concurrent.current? && concurrent.all_concours.count == 1

    %><p>C'est votre première participation à ce concours. Bonne chance à vous !</p><%

  else

    %><div class="italic">Nombre de participations : <%= concurrent.all_concours.count %></div>

    <%# Lien vers les fiches de lecture %><%

    if concurrent.want_fiche_lecture?

      %><div class="right"><%=
        Tag.link(text:UI_TEXTS[:concours][:buttons][:vers_fiches_lecture], route:"concours/fiches_lecture?cid=#{concurrent.id}") %>
      </div><%

    end # Si le concurrent veut recevoir sa fiche de lecture

    %><ul><%

      concurrent.all_concours.each do |dcon|

        %><li><%=
          "Session #{dcon[:annee]} (thème “#{dcon[:theme]}” — #{dcon[:prix]})" %>
        </li><%

      end

    %></ul><%

  end
%>
</section>
<%
# ---------------------------------------------------------------------
#
#   Pour détruire son profil
#
# ---------------------------------------------------------------------
formdestroy = Form.new(id:"destroy-form", route:route.to_s, class:"nopadding nomargin noborder nolibelle nobackground")
formdestroy.rows = {
  '<operation/>' => {type:"hidden", name:"op", value:"destroy"},
  'Numéro d’inscription' => {type:"text", name:"c_numero", explication:"Numéro de participation qui vous a été fourni et envoyé par mail lors de votre inscription.", placeholder:"Numéro d'inscription (14 chiffres)"}
}
formdestroy.submit_button = UI_TEXTS[:concours_button_destroy]
formdestroy.submit_button_class = "btn warning discret"
%>
<h3>Détruire mes informations</h3>
<section id="concours-destruction">
  <p>Vous pouvez à tout moment détruire votre inscription — ainsi que toutes les données et tous les fichiers qui y sont associés en renseignant le champ ci-desous et en cliquant sur le bouton de destruction.</p>
  <p>Notez bien que cette opération est irréversible. Une fois vos informations et vos fichiers détruits, il sera impossible de les récupérer.</p>
  <p>Cette destruction s'applique à toutes les sessions auxquelles vous avez pu participer, c'est-à-dire <%= concurrent.all_concours.count == 1 ? "la session" : "les sessions" %>&nbsp;: <%= concurrent.all_concours.collect{|dc|dc[:annee]}.pretty_join %>.</p>
  <%= formdestroy.out %>
</section>
