<p class='explication'>Chaque année, l'atelier Icare organise un concours d'écriture ouvert à toutes et tous, auteur·e·s de langue française. Ce concours offre l'opportunité à trois gagnant·e·s d'intégrer l'atelier pour suivre jusqu'à un an d'accompagnement à l'écriture.</p>

<%= bouton_formulaire %>
<%= bouton_login_or_espace %>

<h3>Objet du concours</h3>

<p>Pour cette édition <span class="annee-concours"><%= ANNEE_CONCOURS_COURANTE %></span>, il s'agit d'écrire le SYNOPSIS d'une histoire destinée au cinéma, au roman, à la radio ou à la BD, sur le thème de <%= CONCOURS_THEME_COURANT %> en respectant les contraintes énoncées ci-dessous.</p>

<h3>Trois Prix</h3>

<dl id="prix">
  <dt class="bold">Premier Prix de l'atelier Icare</dt>
  <dd>Un an de <%= Tag.link(text:"suivi de développement en suivi intensif", route:"modules/home#absmodule-7",target: :blank) %> au sein de l'atelier (d'une valeur de 1380 €) <span class="small">(*)</span></dd>
  <dt class="bold">Deuxième Prix de l'atelier Icare</dt>
  <dd>Un an de <%= Tag.link(text:"suivi de développement en suivi normal", route:"modules/home#absmodule-8",target: :blank) %> au sein de l'atelier (d'une valeur de 900 €) <span class="small">(*)</span></dd>
  <dt class="bold">Troisième Prix de l'atelier Icare</dt>
  <dd>Deux <%= Tag.link(text:"modules de “coaching intensif”", route:"modules/home#absmodule-12") %> (d'une valeur de 400 €)</dd>
</dl>

<p class="small">(*) L'histoire développée au cours de ces modules ne sera pas nécessairement celle présentée pour le concours. L’auteur·e aura toute latitude pour choisir celle qu'elle ou il voudra développer.</p>

<h3>Thème</h3>

<p>Le thème choisi pour la session <%= ANNEE_CONCOURS_COURANTE %> est <strong><span class="concours-theme"><%= CONCOURS_THEME_COURANT %></span></strong>.</p><p><%= CONCOURS_THEME_DESCRIPTION %></p>

<h3>Fichier de candidature</h3>

Consultez le <%= Tag.link(text:"format du fichier de candidature", route:"concours/dossier") %> pour vous assurer de respecter toutes les contraintes.

<h3>Réglement complet</h3>

<p class="right">Retrouvez toutes les informations sur le concours dans le <%= REGLEMENT_LINK %>.</p>

<h3>Faq</h3>

Vous pouvez trouver d'autres réponses à vos questions dans la <a href="concours/faq">Foire Aux Questions</a> du concours. N'hésitez pas à utiliser le <%= CONTACT_LINK.with(query_string:"envoi_titre=Question+sur+concours+de+synopsis") %> pour poser la vôtre si elle ne se trouve pas dans la F.A.Q.
