<%
# Formulaire de paiement

require_module('icmodules')
require_module('user/modules')

description = "Paiement de #{user.icmodule.montant_humain} pour le #{user.icmodule.ref}"

%>
<p>Cliquez sur le bouton ci-dessous pour rejoindre PayPal et procéder en toute sécurité au paiement de votre <%= user.icmodule.ref %> (<strong><%= user.icmodule.montant_humain %></strong>).</p>

<!--

Cf. pour le détail
https://developer.paypal.com/docs/checkout/integrate/
 -->
<div class="p" id="paypal-button-container"></div>
<%
# à l'origine : client-id: AZAuqhBmcBskX0ScT4zMzh-CsMPVRNV-q__GujqKiEsZGMI5lEe-exdzwaJP

CLIENT_ID = SANDBOX ? 'AcA_9RCWQsSa0STmdpcgX2nE61kSI6YNRmwFpP58LO-59KqtkTkPnb8mE-rt' : 'AZAuqhBmcBskX0ScT4zMzh-CsMPVRNV-q__GujqKiEsZGMI5lEe-exdzwaJP'
%>
<script src="https://www.paypal.com/sdk/js?client-id=<%= CLIENT_ID %>&currency=EUR" data-sdk-integration-source="button-factory"></script>
<script type="text/javascript">const PAYPAL_MONTANT = <%= SANDBOX ? '0.01' : "#{absmodule.tarif}.00" %>;</script>

<p class="mt4">Vous pouvez également régler par virement. Deux cas peuvent se présenter, choisissez celui qui correspond à votre situation :</p>
<ul>
  <li><a href="<%= route.to_s %>?op=per_virement">Vous avez déjà ajouté Philippe Perret comme bénéficiaire sur votre compte bancaire</a>.</li>
  <li><a href="<%= route.to_s %>?op=downloadiban"><%= UI_TEXTS[:button_download_iban] %></a> pour l’enregistrer comme bénéficiaire sur votre compte et procédez à un virement ponctuel de <%= user.icmodule.montant_humain %>.</li>
</ul>
