<%
# frozen_string_literal: true

subject("[CONCOURS #{Concours.current.annee}] Annonce des préselections")
%>
<p>
Ch<%= concurrent.fem(:ere) %> <%= concurrent.pseudo %>,
</p>
<% if concurrent.preselected? %>
  <p>J'ai le privilège et surtout le plaisir de vous annoncer que votre projet “<%= concurrent.synopsis.titre %>” <strong>a été préselectionné pour la Finale du Concours de Scénario de l'atelier Icare</strong>. Il entre donc en lice avec 9 autres projets pour le palmarès définitif.</p>
<% else %>
  <p>J'ai la désagréable et délicate tâche de vous annoncer que votre projet “<%= concurrent.synopsis.titre %>” ne fait malheureusement pas partie de la préselection pour la Finale du Concours de Synopsis de l'atelier. Nous en sommes sincèrement désolé pour vous.</p>
  <p>Souvenez-vous seulement qu'une sélection comme celle-ci est profondément subjective et que de nombreux facteurs interviennent dans les choix d'un jury particulier à un moment particulier, au-delà de la seule qualité artistique et de l'intérêt votre projet.</p>
  <p>En d'autres termes, réfléchir aux raisons qui n'ont pas fait aboutir votre candidature peut être utile — notamment si cette réflexion s'appuie sur la fiche de lecture qui vous sera remplie, si vous l'avez demandée —, mais cela ne doit en aucun cas remettre en cause votre passion et votre droit à tout faire pour tenter de la vivre.</p>
  <p>Et fort<%= concurrent.fem(:e) %> de cette expérience, nous sommes certains que vous pourrez faire mieux l'année prochaine à la session suivante du concours.</p>
  <% if concurrent.fiche_lecture? %>
    <p>D'ici là, vous pouvez récupérer votre fiche de lecture personnelle sur <%= ESPACE_LINK.with("votre espace de travail", full: true, target: :blank) %>, qui vous aidera sans doute à mieux comprendre les raisons de nos choix.</p>
  <% else %>
    <p>Vous avez fait le choix de ne pas recevoir de fiche de lecture, vous n'en trouverez donc pas sur votre espace personnel.</p>
  <% end %>
<% end %>
<p>Vous pouvez retrouver toutes les informations sur cette préselection, et notamment votre classement (actuel) dans la section “<%= RESULTATS_LINKS %>” du concours, sur le site de l'atelier Icare.</p>
<% if concurrent.preselected? %>
  <p>Encore bravo à vous !</p>
<% else %>
  <p>En vous faisant à nouveau part de nos regrets,</p>
<% end %>
<p>Bien à vous,</p>
<p>L’administration du concours de l'atelier Icare</p>
