<p class="explication">Cette page présente votre <em>porte de frigo</em> qui vous permet d’entretenir des conversations avec <%= salle_des_icariens('les autres icarien·ne·s') %>.</p>

<%
# ---------------------------------------------------------------------
#
#   PREMIÈRE PARTIE : LISTE DES DISCUSSIONS (FLOTTANT À DROITE)
#
# ---------------------------------------------------------------------
%>
<div id="discussions-list" class="float-tdm">
  <% if user.has_discussions? %>
    <%= FrigoDiscussion.discussions_of(user.id) %>
  <% else %>
    <p>Vous n’avez pas de discussions en cours. Pour commencer une discussion, contactez une icarienne ou un icarien depuis la <%= salle_des_icariens %>.</p>
  <% end %>
</div>

<%
# ---------------------------------------------------------------------
#
#   DEUXIÈME PARTIE : LA DISCUSSION CHOISIE (IF ANY)
#
# ---------------------------------------------------------------------
if param(:disid)
%>
  <%= FrigoDiscussion.new(param(:disid)).out %>
<%
end #/ fi param(:disid)
%>

<%
# ---------------------------------------------------------------------
#
#   TROISIÈME PARTIE : POUR ME LANCER SUR UNE DISCUSSION
#
# ---------------------------------------------------------------------
%>
<% if user.admin? %>
  <p>En tant qu’administrateur, vous pouvez lancer un appel à discussion à tous les icariens et icariennes [à implémenter].</p>
<% else %>
  <p>Lancer une discussion avec Phil :</p>
  <%
    formphil = Form.new(id:'discussion-phil-form', route:route.to_s, class:'noborder nomargin', libelle_size:0, value_size:600)
    formphil.rows = {
      'Titre'   => {name:'frigo_titre', type:'text', placeholder:'Titre de la discussion'.freeze},
      'Message' => {name:'frigo_message', type:'textarea', height:200, placeholder:"Premier message de la discussion".freeze}
    }
    formphil.submit_button = "Lancer la discussion avec Phil"
  %>
  <%= formphil.out %>
<% end %>
