<%
  discussion = FrigoDiscussion.new(param(:disid))
  listing_messages = discussion.out(for: user, last_check: user.last_check_discussion(param(:disid)))

%>

<%
# ---------------------------------------------------------------------
#
#   PARTIE INVITATION
#
# ---------------------------------------------------------------------

# Pour inviter des icariens à rejoindre une discussion
# Principe : on affiche une liste des icariens pour pouvoir les choisir
if param(:op) == 'inviter'
%>
<div class="mb2">
<form class="noborder" action="<%= route.to_s %>" method="POST">
  <input type="hidden" name="op" value="send_invitations">
  <input type="hidden" name="route" value="bureau/frigo">
  <input type="hidden" name="disid" value="<%= param(:disid) %>">
  <p>Sélectionner dans la liste ci-dessous les icarien·ne·s à inviter <span class="small">(utiliser les touches ⌘ / Ctrl, ⇧ pour sélectionner plusieurs noms)</span>.</p>
  <select name="icariens" MULTIPLE size="10" class="small" style="width:100%;">
    <% User.each('id != 9 AND SUBSTRING(options,4,1) != "1"'.freeze) do |user| %>
      <option value="<%= user.id %>"><%= user.pseudo %></option>
    <% end %>
  </select>
  <div class="buttons">
    <input type="submit" name="" value="Inviter">
  </div>
</form>
</div>

<%
# ---------------------------------------------------------------------
#
#   /Fin PARTIE INVITATION
#
# ---------------------------------------------------------------------
  end
# ---------------------------------------------------------------------
#
#   DISCUSSION (listing des messages)
#
# ---------------------------------------------------------------------

%>
<div class="right discret">
  <div class="fleft">
    <span class="small<%= discussion.nombre_non_lus > 0 ? ' red' : '' %>">
      <%= MESSAGES[:nombre_messages_non_lus] % discussion.nombre_non_lus %>
    </span>
    <% if discussion.nombre_non_lus > 0 %>
    <%= MESSAGES[:bouton_tout_marquer_lu] % param(:disid) %>
    <% end %>
  </div>
  <a href="bureau/frigo" class="small">LISTE DES DISCUSSIONS</a>
</div>
<div class="infos small discret">
  <span>Nombre de participants : <%= discussion.participants.count %></span>
  <span class="ml1"> (<%= discussion.participants.collect{|u|u.pseudo}.pretty_join %>)</span>
</div>
<%
# ---------------------------------------------------------------------
#
#   AFFICHAGE DE LA DISCUSSION CHOISIE
#
# ---------------------------------------------------------------------
if param(:disid)
%>
  <%= listing_messages %>
<% else %>
  <p>Vous devez choisir la discussion à afficher !</p>
<%
end #/ fi param(:disid)
%>

<%
# ---------------------------------------------------------------------
#
#   FORMULAIRE EN BAS DE PAGE
#
# ---------------------------------------------------------------------
form = Form.new(id:'discussion-form', route:route.to_s, class:'noborder w100pct nopadding nomargin', value_size:740, libelle_size:0)
form.rows = {
  '<message/>'    => {name:'frigo_message', type:'textarea', height:120, value:param(:frigo_message), placeholder:'Votre réponse'.freeze},
  '<op/>'         => {name:'op', type:'hidden', value:'add'},
  '<discussion/>' => {name:'disid', type:'hidden', value: param(:disid)}
}
form.submit_button = "Ajouter"
form.submit_button_class = 'inline'
other_buttons = []
if discussion.user_id == user.id
  other_buttons << {text:'Détruire'.freeze, route:"bureau/frigo?op=destroy&did=#{param(:disid)}".freeze, class:'btn warning discret small'}
  other_buttons << {text:'Inviter des icarien·ne·s à rejoindre la discussion'.freeze, route:"bureau/frigo?op=inviter&disid=#{param(:disid)}".freeze}
else
  other_buttons << {text:'Quitter cette discussion'.freeze, route:"bureau/frigo?op=quitter_discussion&did=#{param(:disid)}".freeze}
end
other_buttons << {text:'Télécharger la discussion'.freeze, route:"bureau/frigo?op=download&disid=#{discussion.id}"}

form.other_buttons = other_buttons
%>
<%= form.out %>
