<p>Bonjour Phil,</p>
<p>Je t'informe que <%= owner.pseudo %> (<%= owner.mail %>) vient de définir le partage de ses documents.</p>
<pre><code>
<% icetape.documents.each do |doc| %>

Document : <%= doc.name %>
    Original : <%= param("document-#{doc}-original") == '1' ? 'partagé' : 'NON PARTAGÉ' %>
  <% if doc.has_comments? %>
    Comments : <%= param("document-#{doc}-comments") == '1' ? 'partagé' : 'NON PARTAGÉ' %>
  <% end %>
<% end %>
</code></pre>
<p><%= le_bot %></p>
