<%
# frozen_string_literal: true
subject("Changement d’étape")
%>
<p>Bonjour <%= owner.pseudo %>,</p>

<p>J’ai le plaisir de vous informer que Phil vient de vous faire passer à l’étape <%= new_icetape.numero %> (“<%= new_icetape.titre %>”) de votre module “<%= new_icetape.absmodule.name %>”.</p>

<p>Vous pouvez d’ores et déjà retrouver votre travail sur <%= votre_bureau %>.</p>

<p>Bon travail au sein de l’atelier !</p>

<p><%= le_bot %></p>
