<div id="header-tools">
  <%= tools_block_notifications %>
  <%= MainLink[:aide].simple %>
  <%= MainLink[user.guest? ? :login : :logout].simple %>
  <%= user.guest? ? MainLink[:signup].simple : Tag.lien_bureau %>
</div>

<div id="div-logo">
  <a href="home" style="vertical-align:middle;"><%= EMO_PAPILLON.logo %></a>
  <a href="plan">Atelier Icare</a>
</div>
