<%
# Formulaire de paiement

require_module('icmodules')
require_module('user/modules')

description = "Paiement de #{user.icmodule.montant_humain} pour le #{user.icmodule.ref}"

%>
<p>Cliquez sur le bouton ci-dessous pour rejoindre PayPal et procéder en toute sécurité au paiement de votre <%= user.icmodule.ref %> (<strong><%= user.icmodule.montant_humain %></strong>).</p>

<!--

Cf. pour le détail
https://developer.paypal.com/docs/checkout/integrate/
 -->
<div class="p" id="paypal-button-container"></div>
<script src="<%= MyPayPal.source_script %>?client-id=<%= MyPayPal.client_id %>&currency=EUR" data-sdk-integration-source="button-factory"></script>
<script type="text/javascript">
  const PAYPAL_MONTANT = <%= MyPayPal.montant_paiement %>;
</script>

<p class="mt4">Vous pouvez également régler par virement. Deux cas peuvent se présenter, choisissez celui qui correspond à votre situation :</p>
<ul>
  <li class="mb1">Vous avez déjà ajouté Philippe Perret comme bénéficiaire sur votre compte bancaire et vous voulez <a href="<%= route.to_s %>?op=per_virement"><%= UI_TEXTS[:button_signale_virement] %></a>.</li>
  <li><a href="<%= route.to_s %>?op=downloadiban"><%= UI_TEXTS[:button_download_iban] %></a> pour l’enregistrer comme bénéficiaire sur votre compte et procédez à un virement ponctuel de <%= user.icmodule.montant_humain %>.</li>
</ul>
