<%
  icetape = objet
  nombre_documents = icetape.documents.count
  bouton_name = 'Télécharger ' << (nombre_documents > 1 ? 'les documents'.freeze : 'le document'.freeze)
%>
<pre>
<code>
Étape : <%= icetape.f_id %> <%= icetape.numero %>. <%= icetape.absetape.titre %>
Documents IDs: <%= icetape.documents.collect{|doc| "#{doc.name} #{doc.f_id}"}.join(VG) %>
</code>
</pre>
<div class="buttons">
  <%= button_run(bouton_name, class:'main') %>
</div>
