<p>Phil,</p>
<p>Je t'informe qu'un travail vient d'être envoyé.</p>
<pre>
<code>
ICARIEN   : <%= user.pseudo %> (#<%= user.id %>)
MODULE    : <%= user.icmodule.name %>
ÉTAPE     : <%= user.icetape.numero %>. <%= user.icetape.titre %>
DOCUMENTS : <%= @documents_ids %>
</code>
</pre>
