<p>Vous pouvez envoyer jusqu'à 5 documents pour votre étape de travail « <%= user.absetape.numero %>. <%= user.absetape.titre %> ».</p>
<form class="noborder nomargin" method="POST" enctype="multipart/form-data">
  <input type="hidden" name="route" value="<%= route.to_s %>">
  <% (1..5).each do |idoc| %>
    <%= row_document(idoc) %>
  <% end %>
  <div class="center mt2">
    <%= Tag.submit_button("Transmettre les documents", class:'main') %>
  </div>
</form>
