<p>Vous pouvez envoyer jusqu'à 5 documents pour votre étape de travail « <%= user.icetape.numero %>. <%= user.icetape.titre %> ».</p>
<form id="send-work-form" class="noborder nomargin" method="POST" enctype="multipart/form-data">
  <input type="hidden" name="form_id" value="send-work-form" />
  <input type="hidden" name="route" value="<%= route.to_s %>" />
  <input type="hidden" name="rid" value="<%= param(:rid) %>" />
  <% (1..5).each do |idoc| %>
    <%= row_document(idoc) %>
  <% end %>
  <div class="center mt2">
    <%= Tag.submit_button(UI_TEXTS[:btn_transmettre_documents], class:'main hidden btn-send-work') %>
  </div>
</form>
