<%# frozen_string_literal: true %>
<form method="POST" class="noborder nomargin">
  <input type="hidden" name="op" value="show">
  <input type="hidden" name="route" value="<%= route.to_s %>">
  <select id="absmodules_list" name="absmodule_id" style="width:auto;" onchange="this.form.submit()">
    <%= AbsModule.menus_absmodule(value: param(:absmodule_id)) %>
  </select>
</form>

<%
  if absmodule
    require_folder("#{FOLD_REL_PAGES}/bureau/travail/work")
%>
  <div class="right">
    <a href="admin/modules?op=create-etape&mid=<%= absmodule.id %>" class="btn small">Nouvelle étape</a>
  </div>
  <% absmodule.absetapes.each do |absetape| %>
    <p id="absetape-<%= absetape.id %>" class="titre-etape" data-id="<%= absetape.id %>">
      <%= absetape.numero %>. <%= absetape.titre %>
    </p>
    <%
    # Si param(:eid) contient l'identifiant de l'étape, on l'ouvre
    # automatiquement. On peut la rejoindre directement avec l'ancre
    # #absetape-<id>
    class_ae = param(:eid)&.to_i == absetape.id ? '' : 'hidden'
    %>
    <div id="content-etape-<%= absetape.id %>" class="<%= class_ae %>">
      <%= bouton_edit_etape(absetape) %>
      <%= work_of(absetape) %>
      <%= bouton_edit_etape(absetape) %>
    </div>
  <% end %>
<%
  end #/if absmodule
%>
