<%
extend StringHelpersMethods
%>
<p>
  <img src="img/atelier/phil-medaillon.png" class="fright ml2" alt="Médaillon de Phil">
  <span class="big">Philippe Perret</span>, alias “Phil”, est le pédagogue de l’Atelier Icare. Tantôt professeur d’écriture, tantôt coach, il accompagne depuis plus de 30 ans des auteur·e·s de tous horizons avec une bienveillance qui n’a d’égale que son exigence. Au sein de l’atelier Icare, il a permis à de nombreuses auteures et de nombreux auteurs d’aboutir leurs projets de films, de romans ou autres livres jeunesse, de réussir leur concours d’entrée dans de prestigieuses écoles ou même de se professionnaliser — voir le <%= hall_of_fame %> de l’atelier.
</p>
<p>
  <a href="http://www.philippeperret.fr/films">Scénariste professionnel</a> pour le cinéma et la télévision, <a href="https://www.philippeperret.fr/livres">romancier édité à compte d’éditeur</a> chez Anne Carrière ou Encres de Siagne, <a href="https://www.youtube.com/channel/UCX3XhJw9x1RsVx1s3GNYceA/videos">musicien</a>, <a href="https://www.youtube.com/watch?v=dT6RSHmyoN0">analyste</a> et compositeur, traducteur (de Linda Seger), il est l’auteur de l’ouvrage <%= srps %> préfacé par Yves Lavandier, ouvrage plébiscité par la profession, à sa 7e ré-édition depuis sa création et sur la liste officielle des ouvrages cinéma de l’Éducation Nationale.
</p>
<p>Phil est le concepteur du site <%= scenariopole %>, boite à outils pratique de l’auteur où sont divulguées son approche de la dramaturgie et ses concepts narratifs par le biais de la <%= collection_narration %>.</p>

<p>Il a également créé la <a href="https://www.youtube.com/channel/UCWuW11zTGdNfoChranzBMxQ">chaine YouTube Scrivener</a> consacrée <del>à cet excellent</del> <em>au meilleur</em> logiciel de développement d’histoire.</p>

<p>Phil est toujours enthousiaste de découvrir de nouvelles plumes, sérieuses, ambitieuses, déjà expérimentées ou simples débutantes, et de s’efforcer de les accompagner un petit bout de chemin vers leur accomplissement artistique et professionnel. N’hésitez pas à <%= contact('le contacter') %> pour en parler avec lui !</p>

<p>Vous pouvez retrouver toute l’activité de <%= Tag.lien(route:'http://www.philippeperret.fr', text:'Philippe Perret sur son site personnel') %>.</p>
