<%
# frozen_string_literal: true

# ---------------------------------------------------------------------
#
#   Maintenant, cette section n'affiche plus que la liste des fiches
#   de lecture avec des liens pour les voir (ou les charger)
#
# ---------------------------------------------------------------------
if param(:cid) && param(:an)

  %><iframe src="<%= Synopsis.get(param(:cid), param(:an).fiche_lecture.pdf_path) %>" style="width:21cm;height:29.7cm"></iframe><%

elsif not concurrent.fiche_lecture?

  %><%= MESSAGES[:concours][:fiches_lecture][:prefs_no_fiche] %><%

elsif concurrent.first_concours? && Concours.current.phase < 5

  %><%= MESSAGES[:concours][:fiches_lecture][:no_fiche_first_concours]%><%

else

  concurrent.all_concours.each do |dconcours|

    %><div><%= link_to_fiche_lecture_concours(dconcours) %></div><%

  end

end %>

<div class="mt3"><span class="small">Consultation : <%= designation_visiteur_courant %></span></div>
