<% Synopsis.evaluated? || Synopsis.evaluate_all_synopsis %>

<%
# ---------------------------------------------------------------------
#
#   Si un synopsis est désigné, i.e. paramètres 'cid' (ID du concurrent)
#   et 'an' (année du concours à voir, pas forcément courant)
#
# ---------------------------------------------------------------------
log("concurrent.options: #{concurrent ? concurrent.options : 'pas de concurrent'}")
if param(:cid) && param(:an) %><%=
  code_css_fiche_lecture
  %><%=
  syno = Synopsis.get(param(:cid), param(:an))
  log("Clés de catégories : #{syno.evaluation.owners.keys}")
  log("syno catégories : #{syno.evaluation.owners.inspect}")
  syno.fiche_lecture.out %><%

elsif user.concurrent? && not(concurrent.fiche_lecture?) %><%=
  MESSAGES[:prefs_dont_want_fiches_lecture] %><%
elsif concurrent %><%
  concurrent.all_concours.each do |dconcours| %>
    <div><%= link_to_fiche_lecture_concours(dconcours) %></div><%
  end %><%
end %>

<div id="lien_revenir" class="right" style="display:none;">
  <%= Tag.lien(text: "☞ Liste des fiches de lecture", route:"concours/fiches_lecture?cid=#{param(:cid)}") %>
</div>
<div class="mt3"><span class="small">Consultation : <%= designation_visiteur_courant %></span></div>
