<%
# Gabarit pour afficher le travail de l'icarien, lorsqu'il est actif
%>

<%
# --- ÉTAT DES LIEUX DU MODULE ---
%>
<div id="etat-des-lieux" class="state-list mg2">
  <%= StateList.row('Module', absmodule.data[:name]) %>
  <%= StateList.row('Commencé le', icmodule.f_started_at, {css:'small'}) %>
  <%= StateList.row('Étape', "#{absetape.data[:numero]}. #{user.absetape.data[:titre]}") %>
  <%= StateList.row('Commencé le', icetape.f_started_at, {css:'small'}) %>
  <hr>
  <%= StateList.row('À remettre le', echeance_field) %>
  <%= StateList.row('<remettre>', Tag.lien(route:'bureau/sender?rid=send_work_form', text:"Remettre le travail", class:'main btn'), {class:'right mt2'}) %>
</div>

<%
# --- DESCRIPTION DU TRAVAIL ---
%>
<%= icetape.section_etape_work %>

<%
# --- MINI-FAQ DE L'ÉTAPE ---
%>
<%= icetape.section_etape_mini_faq %>

<%
# --- QUAI DES DOCS (DOCUMENTS DE L'ÉTAPE) ---
%>
<%= icetape.section_etape_qdd %>
