<%
# frozen_string_literal: true

evaluator = html.evaluator
# La note à afficher dépend de la phase du concours et du visiteur
phase = Concours.current.phase
pour_prix = phase >= 3

loc_total =
      case phase
      when 0
        # On ne fait rien, cette page ne peut pas être consultée
      when 1, 2 # phase 1 et 2 => lecture et évaluation par le premier jury (présélections)
        # SI c'est un juré du premier jury, on affiche la liste des fiches de
        # lecture avec sa note à lui (ainsi que les commentaires correspondant à
        # cette note)
        # SI c'est un juré du second jury, il ne peut pas venir ici
        # SI C'est un administrateur, on affiche sa note et la note totale
        case
        when user.admin?
          self.total
        when evaluator.jury1?
          self.total(prix: pour_prix, evaluator: evaluator.id)
        when evaluator.jury2?
          raise "En tant que membre du second jury, vous ne devriez pas pouvoir passer par ici à ce stade du concours…"
        else
          raise "Il n'est rien de tout ça"
        end
      when 3 # phase 3 => le second jury travaille pour désigner les vainqueurs
        # SI C'est un juré du premier jury, on affiche la liste des fiches
        # de lecture avec la note générale (il ne peut plus changer sa note)
        # SI c'est un juré du second jury, on affiche sa propre note seulement
        # SI c'est un administrateur, on affiche sa propre note et la note totale
        case
        when user.admin?
          self.total(prix: false)
        when evaluator.jury1?
          self.total(prix: false)
        when evaluator.jury2?
          self.total(prix: true, evaluator: evaluator.id)
        else
          raise "Il n'est rien de tout ça"
        end
      when 5 # phase 5 => palmarès établi
        # La note finale est affichée pour tout le monde, et ne peut être
        # changée
        # Rappel : quand c'est un synopsis présélectionné, la note finale correspond
        # à la note maximale entre la note de présélection et la note
        self.total(prix: true)
      end
%>
<div class="fiche-lecture" data_synopsis_id="<%=synopsis.id%>">
  <div class="header hidden">
    <div class="grand-titre"><%= ecusson %>&nbsp;Concours de Synopsis de L'atelier Icare&nbsp;<%= ecusson %></div>
    <div class="div-annee">Édition <span class="annee"><%= annee_edition %></span></div>
  </div>
  <div class="bande-buttons right noprint">
    <%= Tag.div(class:'fleft small', text:'(cliquer sur le titre pour ouvrir/fermer la fiche)') %>
    <%= Tag.link(class:"small", text:'Afficher', target: :blank, route:"concours/fiche_lecture?cid=#{synopsis.concurrent.id}&an=#{annee_edition}") %>
  </div>
  <div class="infos-projet">
    <div class="projet-titre">
      <div class="titre"><%= synopsis.titre %></div>
      <div class="auteurs"><%= formated_auteurs %></div>
    </div>
    <div class="note-totale">
      <div class="note"><%= formated_note %></div>
      <div class="position"><%= formated_position %></div>
    </div>
  </div>


  <div class="detail hidden">

    <div class="type-fiche">
      FICHE DE LECTURE
    </div>

    <%
    # TODO Reprendre cette table pour faire la table générale ?
    {
      projet: {name:"Projet dans sa globalité"},
      adequation: {name: "Adéquation avec le thème"},
      personnages: {name:'Personnages'},
      forme: {name: "Forme/structure"},
      themes: {name: "Thèmes"},
      intrigues: {name: "Intrigues"},
      facteurO: {name: "Facteur O (originalité)"},
      facteurU: {name: "Facteur U (universalité)"}
    }.each do |cate, dcate|
    %>
      <div class="divnote note-<%= cate.to_s %>">
        <span class="libelle"><%= dcate[:name] %></span>
        <span class="value note"><%= fnote_categorie(cate) %></span>
        <div class="explication"><%= explication_categorie(cate) %></div>
        <div class="explication-note"><%= explication_categorie_per_note(cate) %></div>
      </div>
    <% end %>

  </div><!-- div.details -->

</div>
