<%
# frozen_string_literal: true
%>
<div class="fiche-lecture" data_synopsis_id="<%=synopsis.id%>">
  <div class="header hidden">
    <div class="grand-titre"><%= ecusson %>&nbsp;Concours de Synopsis de L'atelier Icare&nbsp;<%= ecusson %></div>
    <div class="div-annee">Édition <span class="annee"><%= annee_edition %></span></div>
  </div>
  <div class="bande-buttons right noprint">
    <%= Tag.div(class:'fleft small', text:'(cliquer sur le titre pour ouvrir/fermer la fiche)') %>
    <%= Tag.link(class:"small", text:'Afficher', target: :blank, route:"concours/fiches_lecture?cid=#{synopsis.concurrent.id}&an=#{annee_edition}") %>
  </div>
  <div class="infos-projet">
    <div class="projet-titre">
      <div class="titre"><%= synopsis.titre %></div>
      <div class="auteurs"><%= formated_auteurs %></div>
    </div>
    <div class="note-totale">
      <div class="note"><%= synopsis.formated_note %></div>
      <div class="position"><%= formated_position %></div>
    </div>
  </div>


  <div class="detail hidden">

    <div class="type-fiche">
      FICHE DE LECTURE
    </div>

    <%
    # TODO Reprendre cette table pour faire la table générale ?
    {
      projet: {name:"Projet dans sa globalité"},
      adequation: {name: "Adéquation avec le thème"},
      personnages: {name:'Personnages'},
      forme: {name: "Forme/structure"},
      themes: {name: "Thèmes"},
      intrigues: {name: "Intrigues"},
      facteurO: {name: "Facteur O (originalité)"},
      facteurU: {name: "Facteur U (universalité)"}
    }.each do |cate, dcate|
    %>
      <div class="divnote note-<%= cate.to_s %>">
        <span class="libelle"><%= dcate[:name] %></span>
        <span class="value note"><%= fnote_categorie(cate) %></span>
        <div class="explication"><%= explication_categorie(cate) %></div>
        <div class="explication-note"><%= explication_categorie_per_note(cate) %></div>
      </div>
    <% end %>

  </div><!-- div.details -->

</div>
