<%
# frozen_string_literal: true

evaluator = html.evaluator
# La note à afficher dépend de la phase du concours et du visiteur
phase = Concours.current.phase
pour_prix = phase >= 3

loc_total =
      case phase
      when 0
        # On ne fait rien, cette page ne peut pas être consultée
      when 1, 2 # phase 1 et 2 => lecture et évaluation par le premier jury (présélections)
        # SI c'est un juré du premier jury, on affiche la liste des fiches de
        # lecture avec sa note à lui (ainsi que les commentaires correspondant à
        # cette note)
        # SI c'est un juré du second jury, il ne peut pas venir ici
        # SI C'est un administrateur, on affiche sa note et la note totale
        case
        when user.admin?
          self.total
        when evaluator.jury1?
          self.total(prix: pour_prix, evaluator: evaluator.id)
        when evaluator.jury2?
          raise "En tant que membre du second jury, vous ne devriez pas pouvoir passer par ici à ce stade du concours…"
        else
          raise "Il n'est rien de tout ça"
        end
      when 3 # phase 3 => le second jury travaille pour désigner les vainqueurs
        # SI C'est un juré du premier jury, on affiche la liste des fiches
        # de lecture avec la note générale (il ne peut plus changer sa note)
        # SI c'est un juré du second jury, on affiche sa propre note seulement
        # SI c'est un administrateur, on affiche sa propre note et la note totale
        case
        when user.admin?
          self.total(prix: false)
        when evaluator.jury1?
          self.total(prix: false)
        when evaluator.jury2?
          self.total(prix: true, evaluator: evaluator.id)
        else
          raise "Il n'est rien de tout ça"
        end
      when 5 # phase 5 => palmarès établi
        # La note finale est affichée pour tout le monde, et ne peut être
        # changée
        # Rappel : quand c'est un synopsis présélectionné, la note finale correspond
        # à la note maximale entre la note de présélection et la note
        self.total(prix: true)
      end
%>
<div class="fiche-lecture" data_synopsis_id="<%=synopsis.id%>">
  <div class="header hidden">
    <div class="grand-titre"><%= ecusson %>&nbsp;Concours de Synopsis de L'atelier Icare&nbsp;<%= ecusson %></div>
    <div class="div-annee">Édition <span class="annee"><%= annee_edition %></span></div>
  </div>
  <div class="bande-buttons right noprint">
    <%= Tag.div(class:'fleft small', text:'(cliquer sur le titre pour ouvrir/fermer la fiche)') %>
    <%= Tag.link(class:"small", text:'Afficher', target: :blank, route:"concours/fiche_lecture?cid=#{synopsis.concurrent.id}&an=#{annee_edition}") %>
  </div>
  <div class="infos-projet">
    <div class="projet-titre">
      <div class="titre"><%= synopsis.titre %></div>
      <div class="auteurs"><%= formated_auteurs %></div>
    </div>
    <div class="note-totale">
      <div class="note"><%= loc_total.human_note %></div>
      <div class="position"><%= position %></div>
    </div>
  </div>


  <div class="detail hidden">

    <div class="type-fiche">
      FICHE DE LECTURE
    </div>

    <div class="divnote note-projet">
      <span class="value note"><%= projet.human_note %></span>
      <span class="libelle">Projet dans sa globalité</span>
      <div class="explication"><%= projet.explication %></div>
    </div>

    <div class="divnote note-personnages">
      <span class="libelle">Personnages</span>
      <span class="value note"><%= personnages.human_note %></span>
      <div class="explication"><%= personnages.explication %></div>
      <div class="explication-note"><%= personnages.explication_per_note %></div>
    </div>

    <div class="divnote note-forme">
      <span class="libelle">Forme/structure</span>
      <span class="value note"><%= forme.human_note %></span>
      <div class="explication"><%= forme.explication %></div>
      <div class="explication-note"><%= forme.explication_per_note %></div>
    </div>

    <div class="divnote note-themes">
      <span class="libelle">Thèmes</span>
      <span class="value note"><%= themes.human_note %></span>
      <div class="explication"><%= themes.explication %></div>
      <div class="explication-note"><%= themes.explication_per_note %></div>
    </div>

    <div class="divnote note-intrigues">
      <span class="libelle">Intrigues</span>
      <span class="value note"><%= intrigues.human_note %></span>
      <div class="explication"><%= intrigues.explication %></div>
      <div class="explication-note"><%= intrigues.explication_per_note %></div>
    </div>

    <div class="divnote note-facteur-O">
      <span class="libelle">Facteur O</span>
      <span class="value note"><%= facteurO.human_note %></span>
      <div class="expli">
        <div class="explication"><%= facteurO.explication %></div>
        <div class="explication-note"><%= facteurO.explication_per_note %></div>
      </div>
    </div>

    <div class="divnote note-facteur-U">
      <span class="libelle">Facteur U</span>
      <span class="value note"><%= facteurU.human_note %></span>
      <div class="expli">
        <div class="explication"><%= facteurU.explication %></div>
        <div class="explication-note"><%= facteurU.explication_per_note %></div>
      </div>
    </div>

  </div><!-- div.details -->

</div>
