<%
# frozen_string_literal: true

href_evaluation = "concours/evaluation?view=checklist&synoid=#{id}&cid=#{concurrent.id}"
# *** Définition des boutons ***
bouton_edit = Tag.link(text:"Éditer", class:"btn-edit small btn", route:"concours/evaluation?view=synopsis_form&synoid=#{id}")

evaluator = html.evaluator
concours  = Concours.current

cond = evaluator.admin?
cond = cond || (evaluator.jury1? && (concours.phase == 1 || concours.phase == 2))
cond = cond || (evaluator.jury2? && (concours.phase == 3))
condition_evaluable = cond

bouton_evaluate = if condition_evaluable
                    Tag.link(text:"Évaluer", class:"btn-evaluate small btn", route:href_evaluation)
                  else
                    ""
                  end
# Le bouton pour marquer conforme
bouton_marquer_conforme = Tag.link(text:"Marquer conforme", class:"btn-confirm small btn", route:"concours/evaluation?synoid=#{id}&op=mark_conforme", title:"Confirmer la conformité du synopsis")
bouton_marquer_non_conforme = Tag.link(text:UI_TEXTS[:button_marquer_non_conforme], class:"btn-not-confirm small btn", route:"concours/evaluation?view=synopsis_form&synoid=#{id}&op=non_conformite", title:"Quand le synopsis est non conforme et que ça doit être signalé au concurrent.")
bouton_telecharger = Tag.link(text:"Télécharger", class:"btn-download small btn", route:"concours/evaluation?view=download&cid=#{concurrent.id}", title:"Cliquer sur ce bouton pour télécharger le fichier du concurrent")

%>
<div id="synopsis-<%=id%>" class="<%=css_classes%>" data-id="<%=id%>">
  <div id="synopsis-<%=id%>-titre" class="titre"><%=titre%></div>
  <div class="auteur">de <span id="synopsis-<%=id%>-pseudo" class=""><%=concurrent.patronyme%></span></div>
  <a id="synopsis-<%=id%>-note-generale" class="note-generale" href="<%= href_evaluation %>">
    <span class="note-evaluator"><%=formated_note%></span><%
    if user.admin? %>
      <span class="note-globale" title="Note globale tenant compte des notes des autres membres du jury"><%= formated_note_totale %></span><%
    end %>
  </a>

  <div id="synopsis-<%=id%>-pct-reponses" class="div-pct-reponses">
    <span class="pct-reponses"><%=formated_pourcentage%></span><%
    if user.admin? %>
      <span class="pct-reponses-all"><%=formated_all_pourcentages%></span><%
    end %>
  </div>

  <div id="synopsis-<%=id%>-jauge-pct-reponses" class="jauge-pct-reponses">
    <span class="jauge-pct-reponses-done" style="width:<%=pourcentage%>%;"></span>
  </div>
  <div id="synopsis-<%=id%>-keywords" class="keywords"><%=formated_keywords%></div>
  <%# (Les boutons sont définis en haut de page) %>
  <div class="fiche-buttons center"><%=
    bouton_edit if user.admin? and cfile.conforme? %><%=
    bouton_evaluate if cfile.conforme? %><%
    if evaluator.admin? && not(cfile.conformity_defined?) %><%=
      bouton_marquer_conforme if not(cfile.conforme?) %><%=
      bouton_marquer_non_conforme if not(cfile.conforme?) %><%
    elsif cfile.conforme? && not(evaluator.id == phil.id) %><%=
      bouton_telecharger if cfile.conforme? %><%
    end
  %></div>
  <div class="synopsis-id"><%=id%></div>
</div>
