<p>Bonjour <%= owner.pseudo %>,</p>
<p>J’ai l’immense plaisir de vous annoncer que votre candidature à l’atelier Icare a été retenue !</p>
<p>Vous trouverez sur <%= votre_bureau %> un bouton permettant de démarrer votre module d’apprentissage dès que vous serez prêt<%= owner.fem(:e) %>.</p>
<p>Pour toute question, si la réponse ne se trouve pas déjà dans la <%= faq_de_latelier %>, n’hésitez pas à <%= contacter_phil %>, il se fera un plaisir de vous répondre.</p>
<p>En vous félicitant et vous souhaitant un séjour profitable au sein de l’atelier,</p>
<p>Bien à vous,</p>
<p>L’administration de l’atelier Icare</p>
