<p>
Candidature de <%= owner.pseudo %> #<%= owner.id %> à l'atelier. Merci de la valider ou la refuser.
</p>
<!--

  TODO Mettre ici un formulaire pour charger ses documents de présentation

-->
<%

bouton_load_presentation = Tag.lien(route:"#{route.to_s}?op=download_signup&uid=#{owner.id}&wid=#{self.id}", text:"Documents de présentation", class:'btn main small')

bouton_refus = Tag.div(text: Tag.lien(route:"mailto:#{owner.mail}", text:'Notifier le refus par mail'), class: 'center mt1')

# Formulaire pour choisir ou confirmer son module
form = Form.new(id:"validation-candidature-#{owner.id}-form", class:'inline', route:route.to_s)
values = AbsModule.collect do |absmodule|
  [absmodule.id, "#{selected_module?(absmodule) ? '📌 ' : '  '}#{absmodule.name}"]
end
form.rows = {
  'Module' => {type: 'select', values: values, name:'module_id', id:"module_id-#{owner.id}", size:160},
  '<watcher>' => {type:'hidden', name:'wid', value:id},
  '<operation>' => {type:'hidden', name:'op', value:'run'}
}
form.submit_button = "Attribuer ce module"

%>
<div>
  <div class="fleft">
    <%= bouton_load_presentation %>
    <%= bouton_refus %></div>
  <div class="right"><%= form.out %></div>
</div>
