<%
# ---------------------------------------------------------------------
#
#   BOITE D'OUTILS
#
# ---------------------------------------------------------------------
%>
<div id="edit-etape-toolbox" class="toolbox">
  <button type="button" class="btn" onclick="document.querySelector('form#form-edit-etape').submit()">Enregistrer l'étape</button>
  <button type="button" onclick="CurrentField.current.insert.call(CurrentField.current,'<%= %>')">Insérer &lt;%= ... %&gt;</button>
  <button type="button" onclick="editTravailType()">Éditer le travail type</button>
  <hr>
  <legend class="libelle">Correction des textes</legend>
  <button type="button" onclick="erbToMarkdown()">Code ERB -> MARKDOWN</button>
  <button type="button" onclick="remplaceBaliseMot('md')">Balises MOT/FILM -> MD</button>
  <button type="button" onclick="remplaceBaliseMot('erb')">balises MOT/FILM -> ERB</button>
</div>
<%
# ---------------------------------------------------------------------
#
#   FORMULAIRE
#
# ---------------------------------------------------------------------
%>
<form id="form-edit-etape" class="noborder nomargin nobackground" action="" method="POST">
  <input type="hidden" name="route" value="<%= route.to_s %>">
  <input type="hidden" name="op" value="save-etape">
  # <input type="text" name="etape_id" id="etape-<%= id %>-id" style="width:40px;" value="<%= id %>">
  N°<input type="text" name="etape_numero" id="etape-<%= id %>-numero" style="width:40px;" value="<%= numero %>">
  <input type="text" name="etape_titre" id="etape-<%= id %>-titre" placeholder="Titre de l'étape" style="width:560px;" value="<%= titre %>">
  <div class="libelle">Objectif</div>
  <input type="text" name="etape_objectif" id="etape-<%= id %>-objectif" class="w100pct" placeholder="Objectif de l'étape" value="<%= objectif %>">
  <div class="libelle">Travail <span class="small">(format ERB ou Markdown)</span></div>
  <textarea name="etape_travail" id="etape-<%= id %>-travail" rows="40" class="w100pct" placeholder="Travail de l'étape"><%= travail&.sanitize %></textarea>
  <div class="libelle">Méthode <span class="small">(format ERB ou Markdown)</span></div>
  <textarea name="etape_methode" id="etape-<%= id %>-methode" rows="20" class="w100pct" placeholder="Méthode optionnelle pour l'étape"><%= methode&.sanitize %></textarea>
  <div class="libelle">Liens <span class="small">(page_id::narration::titre)</span></div>
  <textarea name="etape_liens" id="etape-<%= id %>-liens" rows="4" class="w100pct" placeholder="Liens utiles à l'étape"><%= liens&.sanitize %></textarea>
</form>
