<form method="POST" class="noborder nomargin">
  <input type="hidden" name="op" value="show">
  <input type="hidden" name="route" value="<%= route.to_s %>">
  <select name="absmodule_id" onchange="this.form.submit()"><%= menus_absmodule %></select>
</form>

<%
  if absmodule
    require_folder('./_lib/pages/bureau/travail/work')
%>
  <div class="right">
    <a href="admin/modules?op=create-etape&mid=<%= absmodule.id %>" class="btn small">Nouvelle étape</a>
  </div>
  <% absmodule.absetapes.each do |absetape| %>
    <p class="titre-etape" data-id="<%= absetape.id %>">
      <%= absetape.numero %>. <%= absetape.titre %>
    </p>
    <div id="content-etape-<%= absetape.id %>" class="hidden">
      <%= bouton_edit_etape(absetape) %>
      <%= work_of(absetape) %>
      <%= bouton_edit_etape(absetape) %>
    </div>
  <% end %>
<%
  end #/if absmodule
%>
