
<%
# ---------------------------------------------------------------------
#
#   BOITE D'OUTILS
#
# ---------------------------------------------------------------------
%>
<%= html.toolbox(self) %>
<%
# ---------------------------------------------------------------------
#
#   FORMULAIRE
#
# ---------------------------------------------------------------------
%>
<form class="edit-form noborder nomargin nobackground" method="POST">

<input type="hidden" name="op" value="save-twork">
<input type="hidden" name="route" value="admin/modules">
<input type="hidden" name="twdos" value="<%= param(:twdos) %>">
<input type="hidden" name="tw" value="<%= param(:tw) %>">

# <input type="text" name="twork_id" id="twork-<%= id %>-id" style="width:40px;" value="<%= id %>">
<input type="hidden" name="twork_rubrique" value="<%= rubrique %>">
<input type="hidden" name="twork_name" value="<%= name %>">
<input type="text" name="twork_titre" id="etape-<%= id %>-titre" placeholder="Titre du travail-type" class="bold" style="width:560px;" value="<%= titre %>">
<div class="libelle">Objectif</div>
<input type="text" name="twork_objectif" id="etape-<%= id %>-objectif" class="w100pct" placeholder="Objectif du travail-type" value="<%= objectif %>">
<div class="libelle">Travail <span class="small">(format ERB ou Markdown)</span></div>
<textarea name="twork_travail" id="etape-<%= id %>-travail" rows="40" class="w100pct" placeholder="Travail du travail-type"><%= travail&.sanitize %></textarea>
<div class="libelle">Méthode <span class="small">(format ERB ou Markdown)</span></div>
<textarea name="twork_methode" id="etape-<%= id %>-methode" rows="20" class="w100pct" placeholder="Méthode optionnelle pour le travail type"><%= methode&.sanitize %></textarea>
<div class="libelle">Liens <span class="small">(page_id::narration::titre)</span></div>
<textarea name="twork_liens" id="etape-<%= id %>-liens" rows="4" class="w100pct" placeholder="Liens utiles au travail-type"><%= liens&.sanitize %></textarea>

<div class="buttons">
  <button type="submit">Enregistrer</button>
</div>
</form>
