<%
icetape = IcEtape.get(param(:pid))
%>
<h3>Icétape #<%= param(:pid) %></h3>

<div class="row">
  <span class="libelle">Propriétaire</span>
  <span class="value">
    <%= icetape.owner.pseudo %> <span class="small">#<%= icetape.owner.id %></span>
  </span>
</div>
<div class="row">
  <span class="libelle">ID</span>
  <span class="value">
    <%= icetape.id %>
  </span>
</div>
<div class="row">
  <span class="libelle">Étape absolue</span>
  <span class="value">
    <%= icetape.absetape.titre %> <span class="small">#<%= icetape.absetape.id %></span>
  </span>
</div>

<div class="row">
  <span class="libelle">Démarrée le</span>
  <span class="value">
    <%= formate_date(icetape.created_at) %>
  </span>
</div>
