<%
plusieurs = icetape.documents.count > 1
s = plusieurs ? 's' : ''
%>
<p>Bonjour <%= owner.pseudo %>,</p>
<p>Je vous informe que Phil vient de commenter <%= plusieurs ? 'vos' : 'votre' %> document<%= s %>. Vous trouverez ces commentaires sur <%= votre_bureau %>, dans la partie notifications.</p>
<p>Bonne lecture à vous.</p>
<p>Bien cordialement,</p>
<p><%= le_bot %></p>
