<section class="etape_work">

  <h4><%= absetape.numero %>. <%= absetape.titre %></h4>

  <fieldset>
    <legend>Objectif</legend>
    <ul><%= objectifs_formated %></ul>
  </fieldset>

  <fieldset>
    <legend>Travail de l'étape</legend>
    <%= travail_formated %>
  </fieldset>

  <fieldset>
    <legend>Travail propre</legend>
    <%= travail_propre_formated %>
  </fieldset>

  <fieldset>
    <legend>Liens utiles</legend>
    <%= etape_liens %>
  </fieldset>

  <fieldset>
    <legend>Éléments de méthodes</legend>
    <%= etape_methode %>
  </fieldset>

</section><%# /section.etape_work %>
