<section class="etape_work">

  <h4><%= numero %>. <%= titre %></h4>

  <fieldset>
    <legend>Travail à effectuer</legend>

    <fieldset>
      <legend>OBJECTIF</legend>
      <ul><%= objectifs_formated %></ul>
    </fieldset>

    <fieldset class="noborder">
      <legend>ÉNONCÉ DU TRAVAIL</legend>
      <%= travail_formated %>
    </fieldset>

    <fieldset class="noborder">
      <legend>TRAVAIL PROPRE</legend>
      <%= travail_propre_formated %>
    </fieldset>

    <fieldset class="noborder">
      <legend>ÉLÉMENTS DE MÉTHODES</legend>
      <%= etape_methode %>
    </fieldset>

    <fieldset id="fs-liens">
      <legend>LIENS UTILES</legend>
      <%= etape_liens %>
    </fieldset>

  </fieldset><%# fieldset principal travail%>

</section><%# /section.etape_work %>
