<%
# frozen_string_literal: true
# Gabarit pour afficher le travail de l'icarien, lorsqu'il est actif
%>

<%
# --- ÉTAT DES LIEUX DU MODULE ---
%>
<div id="etat-des-lieux" class="state-list mg2">
  <%= StateList.row('Module', absmodule.name) %>
  <%= StateList.row('Commencé le', icmodule.f_started_at, {css:'small'}) %>
  <%= StateList.row('Étape', "#{icetape.numero}. #{icetape.titre}") %>
  <%= StateList.row('Commencé le', icetape.f_started_at, {css:'small'}) %>
  <hr>
  <%
log("--- icetape.status: #{icetape.status.inspect}")
  %>
  <% if icetape.status < 2 %>
    <%= StateList.row('À remettre le', echeance_field) %>
    <%= StateList.row('<remettre>', Tag.lien(route:'bureau/sender?rid=send_work_form', text:UI_TEXTS[:btn_remettre_travail], class:'main btn'), {class:'right mt2'}) %>
  <% else %>
    <%= StateList.row("Remis le", icetape.f_work_sent_at) %>
    <%= StateList.row("Retours",  icetape.f_comments_expected_date) %>
  <% end %>
</div>

<%
# --- DESCRIPTION DU TRAVAIL ---
%>
<%= absetape.section_etape_work %>

<%
# --- MINI-FAQ DE L'ÉTAPE ---
%>
<%= absetape.section_etape_mini_faq %>

<%
# --- QUAI DES DOCS (DOCUMENTS DE L'ÉTAPE) ---
%>
<%= absetape.section_etape_qdd %>
