<%# frozen_string_literal: true %>
<%

  discussion = FrigoDiscussion.new(param(:disid))
  listing_messages = discussion.out(for: user, last_check: user.last_check_discussion(param(:disid)))

%>

<%
# ---------------------------------------------------------------------
#
#   DISCUSSION (listing des messages)
#
# ---------------------------------------------------------------------

%>
<div class="right discret">
  <div class="fleft">
    <span class="small<%= discussion.nombre_non_lus > 0 ? ' red' : '' %>">
      <span>Nouveaux messages :</span>
      <span class='new-messages-count'><%= discussion.nombre_non_lus %></span>
      <span>—</span>
      <span class="">total :</span>
      <span class="total-messages-count"><%= discussion.messages.count %></span>
    </span>
    <% if discussion.nombre_non_lus > 0 %>
    <%= MESSAGES[:bouton_tout_marquer_lu] % param(:disid) %>
    <% end %>
  </div>
  <a href="bureau/frigo" class="small">LISTE DES DISCUSSIONS</a>
</div>
<div class="infos small discret">
  <span>Participants : <span class="participants-count"><%= discussion.participants.count %></span></span>
  <span>— <span class="participants-pseudos"><%= discussion.liste_complete_participants %></span></span>
</div>
<%
# ---------------------------------------------------------------------
#
#   AFFICHAGE DE LA DISCUSSION CHOISIE
#
# ---------------------------------------------------------------------
if param(:disid)
%>

  <%
    # ---------------------------------------------------------------------
    #
    #   LISTING DE MESSAGES
    #
    # ---------------------------------------------------------------------
  %>
  <%= listing_messages %>


  <%# Boutons sous la discussion  %>
  <div>
    <% if discussion.nombre_non_lus > 0 %>
      <%= MESSAGES[:bouton_tout_marquer_lu] % param(:disid) %>
    <% end %>
    <a href="bureau/frigo" class="small discret ml2">LISTE DES DISCUSSIONS</a>
  </div>

<% else %>
  <p>Vous devez choisir la discussion à afficher !</p>
<%
end #/ fi param(:disid)
%>

<%
# ---------------------------------------------------------------------
#
#   FORMULAIRE EN BAS DE PAGE
#
# ---------------------------------------------------------------------
form = Form.new(id:'discussion-form', route:route.to_s, class:'noborder nopadding nomargin nolibelle form-width-140pct')
form.rows = {
  '<message/>'    => {name:'frigo_message', type:'textarea', height:120, value:param(:frigo_message), placeholder:'Votre réponse'.freeze},
  '<op/>'         => {name:'op', type:'hidden', value:'add'},
  '<discussion/>' => {name:'disid', type:'hidden', value: param(:disid)}
}
form.submit_button = "Ajouter"
form.submit_button_class = 'inline'
other_buttons = []
if discussion.user_id == user.id
  other_buttons << {text:UI_TEXTS[:destroy], route:"bureau/frigo?op=destroy&did=#{param(:disid)}".freeze, class:'btn warning discret small'}
  other_buttons << {text:UI_TEXTS[:inviter_users_button], route:"bureau/frigo?op=inviter&did=#{param(:disid)}".freeze}
else
  other_buttons << {text:UI_TEXTS[:quit_discuss_button], route:"bureau/frigo?op=quitter_discussion&did=#{param(:disid)}".freeze}
end
other_buttons << {text:UI_TEXTS[:download_discuss_btn], route:"bureau/frigo?op=download&disid=#{discussion.id}"}

form.other_buttons = other_buttons
%>
<%= form.out %>
