<p>Bienvenue dans votre bureau de travail à l'atelier Icare, <%= pseudo %>.</p>
<div id="goto-travail" class="goto">
  <%= EMO_TRAVAIL+ISPACE+MAIN_LINKS[:work] %>
</div>
<div id="goto-notifications" class="goto">
  <%= EMO_PUNAISE+ISPACE+MAIN_LINKS[:notices] % {non_vus: pastille_notifications_non_vues}%>
</div>

<div id="goto-frigo" class="goto">
  <%= MAIN_LINKS[:frigo] % {non_vus: pastille_messages_frigo_non_vus} %>
</div>

<div id="goto-documents" class="goto">
  <%= EMO_PILE_LIVRES.regular + ISPACE %><a href="bureau/documents">Documents</a>
</div>

<div id="goto-profil" class="goto">
  <%= femme? ? EMO_ETUDIANTE.regular : EMO_ETUDIANT.regular %> <a href="user/profil">Profil</a>
</div>

<%= divGoto(('<a href="bureau/preferences">'+EMO_ROUE_DENTEE+ISPACE+'Préférences</a>').freeze) %>

<%= divGoto(('<a href="bureau/historique">'+EMO_CALENDAR+ISPACE+'Historique</a>').freeze) %>
