<script type="text/javascript">
function AppliqueNom(field, idoc){
  var btn   = document.querySelector(`#buttondocument${idoc}`);
  var span  = document.querySelector(`#documentname${idoc}`);
  btn.classList.remove('inline-block')
  btn.classList.add('hidden')
  span.classList.remove('hidden')
  span.classList.add('inline-block')
  span.innerHTML = field.value
}
</script>
<p>Vous pouvez envoyer jusqu'à 5 documents pour votre étape de travail « <%= objet.absetape.numero %>. <%= objet.absetape.titre %> ».</p>
<form class="noborder nomargin" method="POST" enctype="multipart/form-data">
  <input type="hidden" name="route" value="<%= route.to_s %>">
  <% (1..5).each do |idoc| %>
    <%= row_document(idoc) %>
  <% end %>
  <div class="center mt2">
    <%= Tag.submit_button("Transmettre les documents", class:'main') %>
  </div>
</form>

<div style="margin-top:200px;">
  C'est du texte avec un mot qui porte une <%= Tag.info_bulle('info-bulle', {aide:"Le message à faire apparaitre en survolant le mot."}) %> qui devrait apparaitre au survol de la souris et disparaitre ensuite.
</div>
