<%
# frozen_string_literal: true

ilya_un_resultat = not(resultat.nil_if_empty.nil?)

# ---------------------------------------------------------------------
#
#   FORMULAIRE POUR LES ÉTAPES
#
# ---------------------------------------------------------------------
STEPS_VALUES = Concours::STEPS_DATA.collect do |k,v|
  # message("#{k}::#{k.class} < #{concours.step}::#{concours.step.class} ? #{(k < concours.step).inspect}")
  name = if k == concours.step
    v[:name_current]
  else
    k < concours.step ? v[:name_done] : v[:name]
  end
  [k, name]
end
stepform = Form.new(id:"concours-step-from", route:route.to_s, class:"nogrid nobackground nomargin")
stepform.rows = {
  "<op/>" => {type:"hidden", name:"op", value:"change_step"},
  "Étape courante" => {type:"select", class:"", name:"current_step", values:STEPS_VALUES, value:concours.step},
}
stepform.submit_button = "Simuler et procéder à cette étape…"
stepform.submit_button_class = "small btn"
%>

<%= lien_vers_evaluations %>
<%= lien_concours_data if ilya_un_resultat %>

<div><%= stepform.out %></div>

<% if ilya_un_resultat %>
  <div id="concours-resultat"><%= resultat %></div>
<% else %>
  <%= concours_data_form %>
<% end %>
