<%
# frozen_string_literal: true

=begin

  Section à deux offices :
    1) montrer la liste des cartes de synopsis (chaque concurrent en possède
       une, même s'il n'a pas encore envoyé son synopsis)
    2) hors temps du concours, c'est l'accueil des évaluateurs, avec un
       affichage minimal.

=end
phase = Concours.current.phase
CONCOURS_ON = [1,2,3,5,8].include?(phase)
annee = Concours.current.annee
evaluator = html.evaluator || redirect_to("concours/evaluation?view=login")


if CONCOURS_ON
  self.titre = "Cartes des synopsis"
else
  self.titre = "Accueil du jury du concours"
end
%>

<%# Pour choisir l'évaluateur %>
<script type="text/javascript">
const EVALUATOR_ID = <%= evaluator.id %>;
</script>


<%

if not CONCOURS_ON

  # ---------------------------------------------------------------------
  #
  #   LE CONCOURS N'EST PAS ENCORE LANCÉ
  #
  # ---------------------------------------------------------------------

  %><p class="big border">Lorsque le concours sera lancé, vous trouverez ici la liste des projets à évaluer.</p><%

else

  # ---------------------------------------------------------------------
  #
  #   LE CONCOURS EST LANCÉ
  #
  # ---------------------------------------------------------------------

  # ---------------------------------------------------------------------
  # Si c'est un membre du second jury et qu'on en est encore à la
  # phase de présélection
  # ---------------------------------------------------------------------

  if not(evaluator.jury1?) && phase < 3

    %><p class="big air border">Vous ne pouvez pas encore évaluer les synopsis, mais ça ne devrait pas tarder.</p><%

  elsif not(evaluator.jury2?) && phase > 2

    %><p class="big air border">Vous ne pouvez plus évaluer les synopsis. Merci à vous pour les présélections !</p><%

  else

    # Le formulaire pour entrer un numéro de fichier, afin de pouvoir l'évaluer

    formsynoeval = Form.new(id:"goto-evaluate-synopsis-form", route:"concours/evaluation", class:"inline nolibelle mb2")
    formsynoeval.rows = {
      "<view/>" => {type:"hidden", name:"view", value:"checklist"},
      "Fichier (i.e. ID Synopsis)" => {name:"synoid", type:"text", style:"width:300px;", placeholder:"ID du synopsis à évaluer"}
    }
    formsynoeval.submit_button = "Évaluer"
    formsynoeval.submit_button_class = "inline small" %>
    <div class="right nolimit"><%= formsynoeval.out %></div><%

    # Options pour les choix des synopsis à afficher
    # Pour un administrateur, on affiche toujours tous les synopsis.

    options_sorting = {phase: phase, evaluator: evaluator} %>
    <%= sorting_tools(param(:ks), param(:ss)) %>
    <div id="synopsis-container" class="nolimit"><%
      all_synopsis = Synopsis.sorteds_by(param(:ks),param(:ss), options_sorting)

      if all_synopsis.count > 0

        all_synopsis.each do |syno|

          %><%= syno.out %><% # garder celui-ci

        end

      else

        %><p>Il n'y a pas encore d’inscrit au concours <%= annee %> ou vous ne pouvez pas (encore) en voir la liste.</p><%

      end

    %></div><%
    end # si c'est un bon évaluateur pour la bonne phase
  end # si le concours est lancé
%>
