<%
# frozen_string_literal: true
phase = Concours.current.phase
annee = Concours.current.annee
CONCOURS_ON = [1,2,3,5,8].include?(phase)

if CONCOURS_ON
  self.titre = "Cartes des synopsis"
else
  self.titre = "Accueil des membres du jury du concours"
end
%>

<%# Pour choisir l'évaluateur %>
<script type="text/javascript">
const EVALUATOR_ID = <%= evaluator.id %>;
</script>


<% if not CONCOURS_ON %>
<%
# ---------------------------------------------------------------------
#
#   LE CONCOURS N'EST PAS ENCORE LANCÉ
#
# ---------------------------------------------------------------------
%>

<p class="big border">Lorsque le concours sera lancé, vous trouverez ici la liste des projets à évaluer.</p>

<% else %>

<%
# ---------------------------------------------------------------------
#
#   LE CONCOURS EST LANCÉ
#
# ---------------------------------------------------------------------
%>

<%
# Le formulaire pour entrer un numéro de fichier, afin de pouvoir l'évaluer
formsynoeval = Form.new(id:"goto-evaluate-synopsis-form", route:"concours/evaluation", class:"inline nolibelle mb2")
formsynoeval.rows = {
  "<view/>" => {type:"hidden", name:"view", value:"checklist"},
  "Fichier (i.e. ID Synopsis)" => {name:"synoid", type:"text", style:"width:300px;", placeholder:"ID du synopsis à évaluer"}
}
formsynoeval.submit_button = "Évaluer"
formsynoeval.submit_button_class = "inline small"
%>
<div class="right nolimit">
  <%= formsynoeval.out %>
</div>


<%
  options_sorting = case phase
                    when 1 then {}
                    when 2 then {avec_fichier_conforme: true}
                    when 3 then {preselecteds: true}
                    else
                      # À la demande ?
                      {}
                    end
 %>
<%= sorting_tools(param(:ks), param(:ss)) %>
<div id="synopsis-container" class="nolimit">
  <% fiches_synopsis = Synopsis.sorted_by(param(:ks),param(:ss), options_sorting) %>
  <% if fiches_synopsis.count > 0 %>
    <% fiches_synopsis.each do |syno| %>
      <%= syno.out(evaluator.id) %>
    <% end %>
  <% else %>
    <p>Il n'y a pas encore d’inscrit au concours <%= annee %>.</p>
  <% end %>
</div>


<%
end # si le concours est lancé
%>
