<%# frozen_string_literal: true %>
<%
# Pour choisir l'évaluateur
%>
<script type="text/javascript">
const EVALUATOR_ID = <%= evaluator.id %>;
</script>

<%
# Le formulaire pour entrer un numéro de fichier, afin de pouvoir l'évaluer
formsynoeval = Form.new(id:"goto-evaluate-synopsis-form", route:"concours/evaluation", class:"inline")
formsynoeval.rows = {
  "<view/>" => {type:"hidden", name:"view", value:"checklist"},
  "Fichier (i.e. ID Synopsis)" => {name:"synoid", type:"text"}
}
formsynoeval.submit_button = "Évaluer"
%>
<%= formsynoeval.out %>


<%
  options_sorting = case Concours.current.phase
  when 1 then {}
  when 2 then {avec_fichier_conforme: true}
  when 3 then {preselecteds: true}
  else
    # À la demande ?
    {}
  end
 %>
<%= sorting_tools(param(:ks), param(:ss)) %>
<div id="synopsis-container" class="nolimit">
  <% fiches_synopsis = Synopsis.sorted_by(param(:ks),param(:ss), options_sorting) %>
  <% if fiches_synopsis.count > 0 %>
    <% fiches_synopsis.each do |syno| %>
      <%= syno.out(evaluator.id) %>
    <% end %>
  <% else %>
    <p>Il n'y a pas encore d’inscrit au concours <%= Concours.current.annee %>.</p>
  <% end %>
</div>
