<%
# frozen_string_literal: true
self.titre = "Identification (membre du jury)"

form = Form.new(id:"concours-membre-login", route:"#{route.to_s}")
form.rows = {
  "<op/>" => {type:"hidden", name:"op", value:"login"},
  "<view/>" => {type:"hidden", name:"view", value: "login"},
  "Votre mail" => {type:"text", name: "member_mail"},
  "Votre mot de passe" => {type:"text", name:"member_password"}
}
form.submit_button = "M’identifier"
%>
<% if session['concours_login_tentatives'].to_i <= 5 %>
  <p>Si vous êtes membre du jury du concours de synopsis de l'atelier Icare, vous pouvez vous identifier ici.</p>
  <%= form.out %>
<% end %>

<%
# En offline, j'indique les évaluateurs pour me connecter sous un de
# leur nom

if OFFLINE
  require "#{DATA_FOLDER}/secret/concours"
%>
<div>
  <legend>Se connecter en tant que :</legend>
    <script type="text/javascript">
    // Script pour simplifier l'auto connection
    function ConnectEvaluator(data){
      document.querySelector('*[name="member_mail"]').value = data.mail;
      document.querySelector('*[name="member_password"]').value = data.password;
      document.querySelector("form#concours-membre-login").submit();
    }
    </script>
    <% CONCOURS_DATA[:evaluators].each do |de| %>
      <a class="block" href="javascript:ConnectEvaluator({mail:'<%= de[:mail] %>', password:'<%=de[:password]%>'})"><%= de[:pseudo] %> (jury <%= de[:jury] %>)</a>
    <% end %>
</div>
<% end %>
