<%= description_concours %>

<%= bouton_evaluation if user.evaluateur? %>

<%= description_etape_courante %>

<%= boutons_visiteur %>


<h3>Objet du concours</h3>

<p>Pour cette édition <span class="annee-concours"><%= ANNEE_CONCOURS_COURANTE %></span>, il s'agissait d'écrire le SYNOPSIS d'une histoire destinée au cinéma, au roman, à la radio ou à la BD, sur le thème de <%= Concours.current.theme.upcase %> en respectant les contraintes énoncées ci-dessous.</p>

<%= reglement %>
<%= faq %>
