<p>
<%= pseudo %>,
</p>
<p>Vous venez d’achevez votre module d’apprentissage “<%= icmodule.name %>”. Bravo à vous !</p>
<p>
Vous pouvez bien entendu profiter des <%= Tag.lien(text:'autres modules de l’atelier', route:'modules/home', full:true) %>, n’hésitez pas à les consulter.
</p>
<p>D’autre part, et comme le précise la présentation de l’atelier, icarien un jour, icarien toujours. Vous pouvez donc profiter à votre guise des ressources de l’atelier et notamment le <%= Tag.lien(text:'Quai des docs', route:'qdd/home', full:true) %>.</p>
<p>En vous remerciant de votre confiance et en espérant vous retrouver bientôt à l’atelier,</p>
<p>Bien à vous,</p>
<p><%= le_bot %></p>
